.recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
}

li > .recipe-top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  text-align: left;
  align-items: center;
}

.recipe-top > h1 {
  font-size: 50px !important;
  flex: 1;
}

.recipe-top > .recipe-top-btn {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

p {
  font-size: 25px;
  line-height: 40px;
}

p > span {
  overflow-wrap: anywhere;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ingredients-list {
  gap: 0px;
}
